@(contactForm: Form[Contact], user: User)

@import helper._

@main("Add Contact", user, nav = "add") {
    
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Ooops!</strong> @flash.get("error")
        </div>
    }

	<h2>Add a new contact</h2>
	
	@form(action = routes.Application.newContact()) {
	
		<fieldset>
		@inputText(contactForm("name"), '_label -> "Name", '_showConstraints -> false)		
		@inputText(contactForm("firstName"), '_label -> "First name")	
		@inputText(contactForm("email"), '_label -> "Email", '_showConstraints -> false)	
		@inputText(contactForm("phone"), '_label -> "Phone")
		@inputText(contactForm("street"), '_label -> "Street")
		@inputText(contactForm("city"), '_label -> "City")
		@select(
			contactForm("belongsTo.id"),
			options(ContactGroup.options),
			'_label -> "Contact Group", '_default -> "-- Choose a contact group --",
			'_showConstraints -> false
			
		)
		
		<input type="submit" value="Create" class="btn">
		
		</fieldset>
		
	}
	
}