@(contactForm: Form[Contact], user: User, contactGroups: List[ContactGroup])

@import helper._

@main("Add Contact", user, nav = "add") {
    
	<h2>Add a new contact</h2>
	
	@form(action = routes.Application.newContact()) {
	
		<fieldset>
		@inputText(contactForm("name"), '_label -> "Name", '_showConstraints -> false)		
		@inputText(contactForm("firstName"), '_label -> "First name", '_showConstraints -> false)
		@inputText(contactForm("title"), '_label -> "Title")	
		@inputText(contactForm("email"), '_label -> "Email", '_showConstraints -> false)	
		@inputText(contactForm("phone"), '_label -> "Phone")
		@inputText(contactForm("street"), '_label -> "Street")
		@inputText(contactForm("appendix1"), '_label -> "Zusatz 1")
		@inputText(contactForm("appendix2"), '_label -> "Zusatz 2")
		@inputText(contactForm("zipcode"), '_label -> "PLZ")
		@inputText(contactForm("city"), '_label -> "City")
		@inputText(contactForm("country"), '_label -> "Country")
 		
		@inputText(contactForm("membershipSince"), '_label -> "Member since")
		@select(
			contactForm("memberCategory"),
			options(MemberCategories.list),
			'_label -> "Mitgliederkategorie", '_default -> "-- WŠhlen sie eine Kategorie --"
		)
		@checkbox(field = contactForm("yearbookSubscription"), '_label -> "Subscribe for yearbook" )
		<input type="hidden" name="yearbookSubscription" value="false" />
		
		@select(contactForm("belongsTo[]"), options(ContactGroup.options), 'multiple -> true)
		
<!-- 		<select multiple="multiple" id="belongsTo" name="belongsTo[]"> -->
<!--                 @for(group <- contactGroups) { -->
                    
<!--                         <option value="@group.id">@group.name</option> -->
                    
<!--                 } -->
<!-- 		</select> -->
		
		<input type="submit" value="Create" class="btn">
		
		</fieldset>
		
	}
	
}