@(contactForm: Form[Contact], user: User)

@import helper._

	@main("Add Contact", user) {
	
		<ul class="nav nav-tabs">
	    <li>
	    <a href=@routes.Application.contacts()>List</a>
	    </li>
	    <li class="active"><a href="#">Add</a></li>
	    <li><a href="#">Export</a></li>
    </ul>
	
	<h2>Add a new contact</h2>
	    
	    @form(action = routes.Application.newContact()) {
	        @inputText(contactForm("name"))
	        @inputText(contactForm("firstName"))
	        @inputText(contactForm("email")) 
	        @inputText(contactForm("phone"))
	        @inputText(contactForm("street"))
	        @inputText(contactForm("city"))
	        <input type="submit" value="Create">    
	    }
	}
