@(cgForm: Form[ContactGroup], user: User, groups: List[ContactGroup])

@import helper._

@main("Contact Groups", user, nav = "addcontactgroup") {
    
    <h2>Existierende Kontaktgruppen</h2>
    <ul>
    @for(group <- groups) {
    	<li><a href="@routes.Application.showContactGroup(group.id)"><strong>@group.name</strong></a><br>
    	Besitzer: @group.ownersToString <br>
					@if(group.owners.contains(user)) {
					    Sie sind Besitzer dieser Gruppe
					} else {
					@if(user.isAdmin == true) {
						Besitzer werden
					}
					}
		</li>
    }
    </ul>	
}