@(cgForm: Form[ContactGroup], user: User, groups: List[ContactGroup])

@import helper._

@main("Contact Groups", user, nav = "addcontactgroup") {
    
    <h2>Existing contact-groups</h2>
    <ul>
    @for(group <- groups) {
    	<li><a href="@routes.Application.showContactGroup(group.id)"><strong>@group.name</strong></a> @group.ownersToString <br>
					@if(group.owners.contains(user)) {
					    You are owner
					} else {
					@if(user.isAdmin == true) {
						Make me owner
					}
					}
		</li>
    }
    </ul>

	<h2>Add a contact-group</h2>
	
	@form(action = routes.Application.newContactGroup()) {
	
		<fieldset>
		@inputText(cgForm("name"), '_label -> "Name")			
	
		<input type="submit" value="Create" class="btn">
		
		</fieldset>
		
	}
	
}