@(cgForm: Form[ContactGroup], user: User, groups: List[ContactGroup])

@import helper._

@main("Contact Groups", user, nav = "addcontactgroup") {
    
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Ooops!</strong> @flash.get("error")
        </div>
    }
    
    <h2>Existing contact-groups</h2>
    <ul>
    @for(group <- groups) {
    	<li><strong>@group.name</strong> @group.ownersToString @form(action = routes.Application.addOwner(group.name)) {
					@if(group.owners.contains(user)) {
					    You are owner
					} else {
						@if(user.isAdmin) {
					        <input type="submit" value="Make me owner" class="btn btn-danger">
					    }
					}
					}
		</li>
    }
    </ul>

	<h2>Add a contact-group</h2>
	
	@form(action = routes.Application.newContactGroup()) {
	
		<fieldset>
		@inputText(cgForm("name"), '_label -> "Name")			
	
		<input type="submit" value="Create" class="btn">
		
		</fieldset>
		
	}
	
}