@(contact: Contact, user: User) 

@import helper._ 

@main(title = "Contact View", user, nav = "contactView") {

<address>
	@if(contact.title){@contact.title<br>}
	<strong>@contact.firstName @contact.name</strong><br>
	@if(contact.street){@contact.street<br>}
	@if(contact.appendix1){@contact.appendix1<br>}
	@if(contact.appendix2){@contact.appendix2<br>}
	@contact.zipcode @contact.city<br>
	@if(contact.country){@contact.country<br>}
	@if(contact.phone){<abbr title="Phone">P:</abbr> @contact.phone<br>}
	@if(contact.email){<a href="mailto:@contact.email">@contact.email</a><br>}
	<strong>Sektion: </strong>
	@for(contactgroup <- contact.belongsTo) {
    	@contactgroup.name
    }
    <br>
    @if(contact.remarks){@contact.remarks<br>}
    @if(contact.membershipSince){Mitglied seit: @contact.membershipSince<br>}
    @if(contact.preferredLanguage){Bevorzugte Sprache: @contact.preferredLanguage<br>}
</address>
<p>
	<a href="@routes.Application.contacts()" class="btn">zur&uuml;ck</a>
	<a href="@routes.Application.editContact(contact.id)" class="btn">editieren</a>	
	<a href="@routes.Application.deleteContact(contact.id)" class="btn btn-danger" onclick="return confirm('Sind sie sicher?');">l&ouml;schen</a>
</p>

}
