@(cg: ContactGroup, contacts: List[Contact], owners: List[User], allUsers: List[User], user: User)

@import helper._

@main(title = "Contact Group View", user, nav = "contactGroupView") {

<h2>Kontaktgruppe: @cg.name</h2>

<h2>Kontakte</h2>
<ul>
    @for(contact <- contacts) {
    	<li><a href="@routes.Application.viewContact(contact.id)"><strong>@contact.name</strong> @contact.firstName</a></li>
    }
</ul>
    
<h2>Besitzer</h2>
<ul>
    @for(owner <- owners) {
    	<li><strong>@owner.email</strong></li>
    }
</ul>

@form(action = routes.Application.addOwner(cg.id)) {
	<select multiple="multiple" id="owners" name="owners[]">
                @for(user <- allUsers) {
                    @if(owners.contains(user)) {
                        <option value="@user.email" selected="selected">@user.email</option>
                    } else {
                        <option value="@user.email">@user.email</option>
                    }
                }
	</select>
	<input type="submit" value="Als Besitzer festlegen" class="btn btn-danger">
}
}