@(contactForm: Form[Contact], contact: Contact, user: User)

@import helper._

	@main("Add Contact", user) {
	
	<h2>Edit contact</h2>
	    
	    @form(action = routes.Application.updateContact(contact.id)) {
	        <fieldset>
			@inputText(contactForm("name"), '_label -> "Name", '_showConstraints -> false)		
			@inputText(contactForm("firstName"), '_label -> "First name")	
			@inputText(contactForm("email"), '_label -> "Email", '_showConstraints -> false)	
			@inputText(contactForm("phone"), '_label -> "Phone")
			@inputText(contactForm("street"), '_label -> "Street")
			@inputText(contactForm("city"), '_label -> "City")
			
			@select(contactForm("belongsTo[]"), options(ContactGroup.options), 'multiple -> true)
			
			<input type="submit" value="Update" class="btn">
			
			</fieldset>
		  
	    }
	    
	    
	}
