@(contacts: List[Contact], contactForm: Form[Contact], user: User) 

@import helper._

@main("Contacts", user, nav = "list") {
    
    <a href="@routes.Application.add()" class="btn">Neuer Kontakt</a>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Vorname</th>
				<th>Email</th>
				<th>Telefon</th>
				<th>Strasse</th>
				<th>Ort</th>
				<th>Gruppe</th>
				<th>Erstellt</th>
				<th>Bearbeitet</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for(contact <- contacts) {
			<tr>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.name</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.firstName</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.email</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.phone</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.street</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.city</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.belongsTo</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.createdAt</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.lastEditedAt</a>
				</td>
				<td><a href="@routes.Application.deleteContact(contact.id)" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
				</td>
				</tr>
			}
		</tbody>
	</table>

}
