@(contacts: List[Contact], contactForm: Form[Contact], user: User) 

@import helper._

@main("Contacts", user, nav = "list") {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 
    
    <a href="@routes.Application.add()" class="btn">New Contact</a>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>First Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Street</th>
				<th>City</th>
				<th>Belongs To</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for(contact <- contacts) {
			<tr>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.name</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.firstName</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.email</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.phone</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.street</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.city</a>
				</td>
				<td><a href="@routes.Application.viewContact(contact.id)">@contact.belongsTo</a>
				</td>
				<td>@form(action = routes.Application.deleteContact(contact.id)) {
					<input type="submit" value="Delete" class="btn btn-danger">
					}
				</td>
				</tr>
			}
		</tbody>
	</table>

}
